<div id="header">Choose Your Own Adventure</div>

<div class="main">

<p><span class="frist_letter"><%= @adventure[0].story.first %></span><%= @adventure[0].story[1..-1] %></p>

<%= image_tag @adventure[0].photo %>  <!--image_tag does the same thing as img src in html, except it is in ruby-->

<form>
  <input type="radio" name="decision" value="labryinth" id="labryinth">Do you enter the labryinth?<br/>
  <input type="radio" name="decision" value="wait"id="wait">Do you wait for the elf to return?<br/>
  <button>Continue</button>
</form>

</div>