<div id="header">Choose Your Own Adventure</div>

<div class="main">

<%= @adventure[0].story %>

<p><span class="frist_letter">N</span><%= @adventure[0].story %></p>

<img src="/assets/2013-04-10-labyrinth.gif">

<form>
  <input type="radio" name="decision" value="labryinth" id="labryinth">Do you enter the labryinth?<br/>
  <input type="radio" name="decision" value="wait"id="wait">Do you wait for the elf to return?<br/>
  <button>Continue</button>
</form>

</div>