
<div id="header">Choose Your Own Adventure</div>

<div class="main">

<p><span class="frist_letter">N</span>early two hundred years ago, a cult of the demon prince Orcus purposely created such a gap, connectingone of Orcus’s unholy Shadowfell sites to the world. Skeletons, zombies, and fouler creatures flooded through the rift into the light of day. The empire of Nerath dispatched legionnaires to eliminate the threat. The empire’s soldiers destroyed the undead, sealed the opening, and built a keep to watch over the location and contain the threat. This isthe site known as the Keep on the Shadowfell.</p>

<img src="/assets/2013-04-10-labyrinth.gif">

<form>
  <input type="radio" name="decision" value="labryinth" id="labryinth">Do you enter the labryinth?<br/>
  <input type="radio" name="decision" value="wait"id="wait">Do you wait for the elf to return?
</form>
</div>